/* Body font */
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,200,800&subset=latin,cyrillic,latin-ext);
body {
    font-family: "Exo 2", Helvetica, Arial, sans-serif, "Exo 2";
    font-size: 1rem;
}

html {
  font-size: 16px;
}

/* Ecognize colors */
.bg-primary {
    color: #fff !important;
    background-color: #013533 !important;
}

.bg-info {
    color: #fff !important;
    background-color: #054C47; !important;
}


/*Backported from style.css */
.text-xs-center {
    text-align: center !important;
}

.text-primary {
    color: #013533 !important;
}

.text-inverse {
    color: white;
}

.section-fill-height {
    display: flex;
    height: 100%;
    align-items: center;
}

.section .background-image {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.section.section-opaque-dark {
    background-color: rgba(0, 0, 0, 0.7); 
}

.h1 {
    font-size: 2.5rem; 
}

.h2 {
    font-size: 2rem; 
}

.h3 {
    font-size: 1.75rem; 
}

.h4 {
    font-size: 1.5rem; 
}

.h5 {
    font-size: 1.25rem; 
}

.h6 {
    font-size: 1rem; 
}

.lead {
    font-size: 1.25rem;
    font-weight: 300; 
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300; 
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300; 
}

.p-y-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}


.p-y-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; 
}

.m-y-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.m-y-2 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important; 
}


.img-fluid {
    max-width: 100%;
}

/* tweaks for navigation */
a,
a:hover,
a:focus {color: #fff;}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus { background-color: #054C47; }

::-moz-selection { /* Code for Firefox */
    color: #013533;
    background: #f8f54b;
}

::selection {
    color: #013533; 
    background: #f8f54b;
}

/* Secret <a> for clickable divs */
a.filldiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
}

/* Outer container for sliding gallery */
.gallery {
  height: 250px;
  width: 375px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 1px;
}

/* Prevents the text from being glued to the edge */
.indentblock {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
}

/* Sliding div to move the image out of sight */
div.gallerySlide {
    transform: translate3d(0px, 0px, 0px);
    transition: transform .2s ease-in-out;
}
  
div.gallerySlide:hover {
    transform: translate3d(0px, -250px, 0px);
}


/* Outline for media/workshops */
/*a.outlined {
    color: black;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

a.outlined:hover {
    color: black;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}*/




