
// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark : #373a3c !default;
$gray : #55595c !default;
$gray-light : #818a91 !default;
$gray-lighter : #eceeef !default;
$gray-lightest : #f7f7f9 !default;

$brand-primary : #013533;
$brand-success : #5cb85c !default;
$brand-info : #054C47;
$brand-warning : #f0ad4e !default;
$brand-danger : #d9534f !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex : false !default;
$enable-rounded : true !default;
$enable-shadows : false !default;
$enable-gradients : false !default;
$enable-transitions : false !default;
$enable-hover-media-query : false !default;
$enable-grid-classes : true !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer : 1rem !default;
$spacer-x : $spacer !default;
$spacer-y : $spacer !default;
$border-width : 1px !default;


// Body
//
// Settings for the `<body>` element.

$body-bg : white;
$body-color : #333;


// Links
//
// Style anchor elements.

$link-color : $brand-primary !default;
$link-decoration : none !default;
$link-hover-color : darken($link-color, 15%) !default;
$link-hover-decoration : underline !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif : 'Exo 2', Helvetica, Arial, sans-serif !default;
$font-family-serif : Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace : Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base : $font-family-sans-serif, "Exo 2" !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root : 16px !default;

$font-size-base : 1rem !default;
$font-size-lg : 1.25rem !default;
$font-size-sm : .875rem !default;
$font-size-xs : .75rem !default;

$headings-font-family : inherit !default;


@import 'bootstrap';
@import 'pingendo-bootstrap';
