<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who we are</h2>
                <hr class="light">
                <p class="text-faded">We are young distributed team, based in Ukraine, Estonia and France brought together by a vision of becoming pioneers in the emerging fields of bioinformatics, sustainable economy and clean energy.</p>
                <a href="#services" class="btn btn-default btn-xl">What we can do</a>
            </div>
        </div>
    </div>
</section>
