<div class="bg-info p-y-3 section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="pi-draggable pi-item">COMPANY</h1>

                <p><b><img alt="Ecognize.me Logo" height="20" src="ecognize.me-transparent.svg" />Anna Chashchyna, CEO</b><br />
                Environmental Consulting<br />
                <a href="mailto:anna@ecognize.me">anna@ecognize.me</a></p>

                <p><b>Ecognize.me OÜ (14034333)</b><br />
                6 Sepapaja street, <br />
                Tallinn 15551, ESTONIA&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br />
                <a href="mailto:admin@ecognize.me">admin@ecognize.me</a></p>

                <div class="m-y-2 m-y-lg row text-center">
                    {% include social.html
                        icon='facebook'
                        url='https://facebook.com/Ecognize'
                        class='fa-3x'
                    %}

                    {% include social.html
                        icon='github'
                        url='https://github.com/Ecognize'
                        class='fa-3x'
                    %}

                    <!-- TODO: add youtube account  -->

                    {% include social.html
                        icon='twitter'
                        url='https://www.twitter.com/ecognize'
                        class='fa-3x'
                    %}


                    {% include social.html
                        icon='pinterest'
                        url='https://pinterest.com/ecognize/'
                        class='fa-3x'
                    %}


                    {% include social.html
                        icon='linkedin'
                        url='https://www.linkedin.com/company/10577069/'
                        class='fa-3x'
                    %}
                </div>
            </div>

            <div class="col-md-6">
                <h1 class="pi-draggable pi-item">GET IN TOUCH</h1>

                <form action="https://www.elformo.com/forms/a7ed850f-3b03-4ff6-bcdc-38792fcc855c" method="post">
                    <fieldset class="form-group">
                        <label for="exampleInputEmail1">Your name</label>
                        <input class="form-control" id="name" name="name" placeholder="Your name" type="text" />
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input class="form-control" id="email" name="email" placeholder="Enter email" type="email" />
                    </fieldset>
                    <button class="btn btn-lg btn-primary" id="submit" name="submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
