<div class="bg-info p-y-3 section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="pi-draggable pi-item">COMPANY</h1>

                <p><b><img alt="Ecognize.me Logo" height="20" src="ecognize.me-transparent.svg" />Ecognize.me</b><br />
                Environmental Consulting<br />
                Anna Chashchyna, CEO &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br />
                <a href="mailto:anna@ecognize.me">anna@ecognize.me</a></p>

                <p><b>Erint Labs OÜ (14034333)</b><br />
                6 Sepapaja street, <br />
                Tallinn 15551, ESTONIA&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br />
                <a href="mailto:admin@ecognize.me">admin@ecognize.me</a></p>

                <div class="m-y-2 m-y-lg row text-center">
                    <div class="col-xs-2 text-left">
                      <a href="https://facebook.com/Ecognize" target="_blank">
                        <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                      </a>
                    </div>

                    <div class="col-xs-2 text-left">
                      <a href="https://github.com/Ecognize" target="_blank">
                        <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                      </a>
                    </div>

                    <!-- TODO: add youtube account  -->

                    <div class="col-xs-2 text-left">
                      <a href="https://www.twitter.com/ecognize" target="_blank">
                        <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                      </a>
                    </div>

                    <div class="col-xs-2 text-left">
                      <a href="https://pinterest.com/ecognize/" target="_blank">
                        <i class="fa fa-pinterest fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                      </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h1 class="pi-draggable pi-item">GET IN TOUCH</h1>

                <form action="https://www.elformo.com/forms/a7ed850f-3b03-4ff6-bcdc-38792fcc855c" method="post">
                    <fieldset class="form-group">
                        <label for="exampleInputEmail1">Your name</label>
                        <input class="form-control" id="name" name="name" placeholder="Your name" type="text" />
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input class="form-control" id="email" name="email" placeholder="Enter email" type="email" />
                    </fieldset>
                    <button class="btn btn-lg btn-primary" id="submit" name="submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
