<nav class="bg-faded bg-primary navbar navbar-dark navbar-fixed-top navbar-full p-y-1">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" title="Ecognize.me - Environmental Consulting Services">
            <img alt="Ecognize.me Logo" height="2rem" src="img/ecognize.me-transparent.svg" />
        </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item active"><a class="nav-link" href="#welcome">Welcome</a></li>
            <!-- <li class="nav-item active"><a class="nav-link" href="#services">Services</a></li> -->
            <li class="nav-item active"><a class="nav-link" href="#team">Our team</a></li>
            <li class="nav-item active"><a class="nav-link" href="#projects">Projects</a></li>
            <!-- <li class="nav-item active"><a class="nav-link" href="#workshops">Workshops</a></li> -->
            <li class="nav-item active"><a class="nav-link" href="https://medium.com/@Ecognize" target="_blank">Blog</a></li>
            <li class="nav-item active"><a class="nav-link" href="#contact">Contact &amp; Partners</a></li>
        </ul>
    </div>
</nav>
