<nav class="bg-faded bg-primary navbar navbar-dark navbar-fixed-top navbar-full p-y-1">
    <a class="navbar-brand" href="/" title="Ecognize.me - Environmental Consulting Services">
        <img alt="Ecognize.me Logo" height="32" src="ecognize.me-transparent.svg" />
    </a>
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item active"><a class="nav-link" href="#welcome">Welcome</a></li>
        <li class="nav-item active"><a class="nav-link" href="#services">Services</a></li>
        <li class="nav-item active"><a class="nav-link" href="#media">Media</a></li>
        <li class="nav-item active"><a class="nav-link" href="#workshops">Workshops</a></li>
        <li class="nav-item active"><a class="nav-link" href="https://medium.com/@Ecognize" target="_blank">Blog</a></li>
        <li class="nav-item active"><a class="nav-link" href="#contact">Contact</a></li>
    </ul>
</nav>
