<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">{% include t.html s='ui_nav_toggle' %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">ErintLabs OÜ</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#">
                      {% include langbox.html %}
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">{% include t.html s='ui_about' %}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">{% include t.html s='ui_services' %}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#ourteam">{% include t.html s='ui_team' %}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">{% include t.html s='ui_contact' %}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
