<div class="p-y-3 section outlined" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3 m-y-2 text-xs-center text-primary">Projects Highlight</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 gallery bg-faded">
                {% include projectitem.html
                  img="dustlayer.jpg"
                  url="http://www.thedustlayer.com/"
                  header="The Dust Layer"
                  content="<p>Kosovo has long been struggling with air pollution issues coming from outdated lignite power plants. <!--br/> We felt compelled to tell this story through the series of individual little stories of local people. --></p>

                  <p>Let us take you on a journey to Kosovo to show hope, compassion, fight, and a forceful thirst for life.</p>" %}
            </div>

            <!-- TODO: replace with PROMIS link -->
            <div class="col-md-4 gallery bg-faded">
                {% include projectitem.html
                  img="promis.png"
                  url="https://www.promis.ikd.kiev.ua/"
                  header="PROMIS"
                  content="<p>The Laboratory of Near Space Research is making Ukrainian ionosphere satellite data available to the concerned scientists worldwide. And we proudly assist in this noble endeavour.</p>

                  <p>[Work in progress]</p>" %}
            </div>
        </div>
    </div>
</div>
