<div class="bg-faded p-y-3 section text-xs-center" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3 m-y-2 text-xs-center text-primary">What we do</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h1>Life Cycle Assesment</h1>

                <p>Life Cycle Assessment (LCA) is a tool for the systematic evaluation of the environmental aspects of a product or service system through all stages of its life cycle. LCA provides an adequate instrument for environmental decision support.</p>
            </div>

            <div class="col-md-4">
                <h1>Sutainable Product Development</h1>

                <p>Includes the consideration of environmental, social, regulatory and economic factors for the development, production, use, and ultimate disposal of products.</p>
            </div>

            <div class="col-md-4">
                <h1>Energy<br />
                Audit</h1>

                <p>Beyond identifying the sources of energy use, an energy audit seeks to prioritize the energy uses according to the greatest to least cost effective opportunities for energy savings.</p>
            </div>
        </div>
    </div>
</div>
