<div class="outlined p-y-3 section text-xs-center" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3 m-y-2 text-xs-center text-primary">Meet the team</h1>
            </div>
        </div>

        <div class="row">
            {% include partner.html 
                name="Anna"
                bio="the ideologist & founder of Ecognize.me, now responsible for clients, projects, finance and promotion"
            %}

            {% include separator.html %}

            {% include partner.html 
                name="Ruslan"
                bio="the science guru of Ecognize.me, who rolls it all from the technical prospective"
            %}

            {% include separator.html %}

            {% include partner.html 
                name="Oleksiy"
                bio="the software ninja who can do everything out of nothing"
            %}
        </div>
    </div>
</div>
