<div class="p-y-3 section" id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-xs-center">
                <img alt="Anna Chashchyna Photo" class="center-block img-circle img-fluid m-y m-y-1" src="anna-chashchyna-ecognize.me.jpg" />
                <h3>Anna Chashchyna</h3>

                <p>CEO</p>
            </div>

            <div class="col-md-8 text-xs-left">
                <h1 class="text-primary">Welcome<br />
                &nbsp;</h1>

                <p class="lead">Hello, I am Anna Chashchyna, an ideologist, founder and&nbsp;consultant&nbsp;at Ecognize.me currently living and working in Kyiv, Ukraine.&nbsp;</p>

                <p class="lead">Ecognize.me is a boutique on environmental&nbsp;consultancy with the niche range of services concerned with Environment and Sustainable Development.</p>

                <p class="lead">Ecognize.me is there to modulate human and industrial impact on environment by&nbsp;bridging the gap of innovation and societal change.</p>
            </div>
        </div>
    </div>
</div>
