<div class="outlined p-y-3 section" id="workshops">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3 m-y-2 text-xs-center text-primary">Workshops</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h3>3-days Educational Workshop in Prishtina, Kosovo</h3>

                <p>This section is under construction...</p>
            </div>
        </div>
    </div>
</div>
