body, html
{
	color: #333;
	height: 100%;
	font-size: 1.1em;
}

body, .pure-g [class *= "pure-u"]
{
	font-family: 'Roboto', sans-serif;
}

h1
{
	text-align: center;
}

.pic img
{
	max-width: 100%;
	height: auto;
	margin-bottom: -4px;
}

.right
{
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
}

.fright
{
	float: right;
}

.center
{
	text-align: center !important;
}

.justify
{
	text-align: justify;
}

.left
{
	text-align: left;
	left: 0;
	bottom: 0;
}

.contacts
{
	padding: 0px;
}

.contacts li
{
	list-style: none;
}

.contacts a
{
	text-decoration: none;
	color: #333;
}

.contacts a:hover
{
	color: #999;
}

@media screen and (max-width: 35.5em)
{
	.pure-u-1-8, .pure-u-1-4
	{
		display: none;
	}

	.pure-mm-1
	{
		width: 90%;
		margin: 0 5%;
	}
}

/* menu */
.pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited
{
	color: #333;
	font-weight: bolder;
}

.pure-menu, .pure-menu.toggled
{
	top: 0px;
    z-index: 70;
    position: fixed;
    display: inline-block;
    background-color: #fff;
}

/* responsive menu */
.pure-menu-list
{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.pure-menu-toggle
{
    width: 45px;
    height: 43px;
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
}

.pure-menu-toggle:hover
{
	background-color: #ddd;
}

.pure-menu-toggle .bar
{
    background-color: #777;
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 100px;
    position: absolute;
    top: 24px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.pure-menu-toggle .bar:first-child
{
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.pure-menu.toggled > .pure-menu-toggle .bar
{
	top: 23px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.pure-menu.toggled > .pure-menu-toggle .bar:first-child
{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media screen and (max-width: 38.75em)
{
	.pure-menu
	{
		background: none;
	}

	.toggled .pure-menu-list
	{
		border-bottom: 1px solid #ddd;
	}

	.pure-menu-toggle
	{
		display: block;
	}

	.pure-menu-horizontal .pure-menu-list, .pure-menu-horizontal .pure-menu-item
	{
		opacity: 0;
		display: block;
		text-align: center;
	}

	.toggled .pure-menu-list, .toggled .pure-menu-item
	{
		opacity: 1;
		background-color: #fff;
	}

	.pure-menu-horizontal .pure-menu-heading
	{
		opacity: 0;
	}

	.toggled .pure-menu-heading
	{
		width: 100%;
		opacity: 1;
		padding: 0.5em 0em;
		text-align: center;
		background-color: #fff;
		border-bottom: 1px solid #efefef;
	}
}

