body,html
{
	height: 100%;
}

.pure-menu
{
    z-index: 70;
    position: fixed;
}

.menu .active
{
	background-color: #eef !important;
}

.pic img
{
	max-width: 100%;
	height: auto;
	margin-bottom: -4px;
}

.right
{
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
}

.left
{
	text-align: left;
	position: absolute;
	left: 0;
	bottom: 0;
}
