body,html
{
	color: #333;
	height: 100%;
	font-size: 1.15em;
}

h1
{
	text-align: center;
}

.pure-menu
{
    z-index: 70;
    position: fixed;
}

.menu .active
{
	background-color: #eef !important;
}

.pic img
{
	max-width: 100%;
	height: auto;
	margin-bottom: -4px;
}

.right
{
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
}

.fright
{
	float: right;
}

.center
{
	text-align: center !important;
}

.justify
{
	text-align: justify;
}

.left
{
	text-align: left;
	left: 0;
	bottom: 0;
}

.contacts
{
	padding: 0px;
}

.contacts li
{
	list-style: none;
}

.contacts a
{
	text-decoration: none;
	color: #333;
}

.contacts a:hover
{
	color: #999;
}

@media screen and (max-width: 35.5em)
{
	.pure-u-1-8, .pure-u-1-4
	{
		display: none;
	}

	.pure-mm-1
	{
		width: 90%;
		margin: 0 5%;
	}
}